In [2]:
# write first function

def hello_world():
    print("Hello, world!")

hello_world()

Hello, world!

In [14]:
# just print name with no return

my_name_is = "Dan"
def print_name(name):
    print(f"Name is {name}")
    return(name)
    
print_name(my_name_is)

Name is Dan

'Dan'

In [9]:
def add_two(num):
    return num + 2

add_two(1)

In [15]:
# multiple positional arguments

def add(num1, num2):
    return num1 + num2

add(4,5)

9

In [18]:
def contact_card(name, age, car_model):
    return f"{name} is {age} and drives a {car_model}"

contact_card("Dan", 35, "Subaru")

'Dan is 35 and drives a Subaru'

In [19]:
# using keyword arguements

contact_card(age = 28, car_model = "Subaru", name = "Dan")

'Dan is 28 and drives a Subaru'

In [21]:
# using both positional and keyword arguements

contact_card("Dan", car_model = "Subaru", age = 35)

'Dan is 35 and drives a Subaru'

In [22]:
# default varible in function

def can_drive(age, driving_age=16):
    return age > driving_age

can_drive(15)

False

In [24]:
can_drive(15,14)

True

In [ ]:
def print_todo(todo):
     """
     print_todo takes in a todo dictionary and prints it out
     with by separating the `name` from the `body` using a colon (:).

     >>> todo = {'name': 'Example 1', 'body': 'This is a test task', 'points': '3'}
     >>> print_todo(todo)
     Example 1: This is a test task
     >>>
     """
     pass

In [ ]:
def take_first(todos):
     """
     take_first receives a list of todos and removes the first todo
     and returns that todo and the remaining todos in a touple

     >>> todos = [{'name': 'Example 1', 'body': 'This is a test task', 'points': '3'},
     ... {'name': 'Task 2', 'body': 'Yet another example task', 'points': '2'}]
    >>> todo, todos = take_first(todos)
     >>> todo
     {'name': 'Example 1', 'body': 'This is a test task', 'points': '3'}
    >>> todos
    [{'name': 'Task 2', 'body': 'Yet another example task', 'points': '2'}]
     """
     return

In [ ]:
def sum_points(todo1, todo2):
    """
    sum_points receives two todo dictionaries and returns sum of their `point` values.

         >>> todos = [{'name': 'Example 1', 'body': 'This is a test task', 'points': '3'},
         ... {'name': 'Task 2', 'body': 'Yet another example task', 'points': '2'}]
 34     >>> sum_points(todos[0], todos[1])
 35     5
 36     """